.main-head{
  margin: 0;
  padding: 0;
}

.logo{
  margin-left: 40px;
}

.top-navigation{
  top: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  height: 100vh;
  background-color: #817e7e;
  position: absolute;
  top: 80px;
  left: -100%;
  transition: all .5s;
  color: #fff;
}

.big-title{
  margin-left: 20px;
  margin-right: 20px;
}

.nav a{
  margin: 10px 0;
}


#check:checked~.nav{
  left: 0;
}

.show-menu{
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.show-menu:hover{
  cursor: pointer;
}

.yell,
.pin{
  background-color: rgba(255, 255, 255, .4);
}

.article{
  display: block;
  position: relative;
}

.article .article-img{
  width: 100%;
}

.article .article-text{
  position: absolute;
  top: 10%;
  width: 90%;
  margin: 0 auto;
}

.article-text h2{
  margin-bottom: 15px;
  font-size: 20px;
}

.last-left-article h2,
.last-right-article h2{
  margin-bottom: 15px;
  font-size: 20px;
}

.lasts{
  flex-direction: column;
  width: 100%;
  height: 600px;
}

.lasts article{
  width: 100%;
  height: 50%;
}

.portfolio{
  height: 150px;
}

.last-left-article p,
.last-right-article p{
  width: 80%;
}